{% load static %}
<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header" >
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="index.html" class="navbar-brand logo" >
        <img src="{% static 'img/tsh.png' %}" class="img-fluid" alt="Logo" width="66" height="16" >
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a href="index.html" class="menu-logo">
          <img src="{% static 'img/tsh.png' %}" class="img-fluid" alt="Logo">
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <li class="has-submenu">
          <a href="{% url 'pressing:home' %}">Home</a>
        </li>
{% if user.is_authenticated %}
<li class="has-submenu active">
  <a href="#">My Clothes <i class="fas fa-chevron-down"></i></a>
  <ul class="submenu">
    <li><a href="{% url 'pressing:clothes' '4' %}">Delivered</a></li>
    <li><a href="{% url 'pressing:clothes' '3' %}">Ready</a></li>
    <li><a href="{% url 'pressing:clothes' '2'%}">In progress</a></li>
    <li><a href="{% url 'pressing:clothes' '1' %}">Waiting</a></li>
  </ul>
</li>
<li class="has-submenu">
  <a href="{% url 'pressing:contact'  %}">Contact</a>
</li>
<li class="has-submenu">
  <a href="{% url 'pressing:notif'  %}">Feedbacks</a>
</li>
{% endif %}
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li class="nav-item contact-item">
        <div class="header-contact-img">
        </div>
        <div class="header-contact-detail">
          <p class="contact-header">Contact</p>
          <p class="contact-info-header">+216 51 321 700</p>
        </div>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown has-arrow logged-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
          <span class="user-img">
            <img class="rounded-circle" src="{% static 'img/user1.png' %}" width="31" alt="Darren Elder">
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="user-header">
            <div class="avatar avatar-sm">
              <img src="{% static 'img/user1.png' %}" alt="User Image" class="avatar-img rounded-circle">
            </div>
            <div class="user-text">
              <h6>{{user.username}}</h6>
              <p class="text-muted mb-0">Client</p>
            </div>
          </div>
          <a class="dropdown-item" href="{% url 'pressing:logout' %}">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link header-login" href="{% url 'login' %}">login / Signin</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
